@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Inter:wght@300,300&display=swap');
body{
    background-color: #D6EEFF;
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}

.navigation-bar{
    padding: 0.2rem;
    background-color: #0890CA;
}

.logo{
    display: inline-block;
   color: #D6EEFF;
   font-weight: bold;
   font-size: 2.5rem;
   margin: 1rem;
   padding: 0.5rem;
   font-family: 'Secular One', sans;

}
.other{
    float: right;
    margin: 2rem;
}
.other > a {
    display: inline-block;
    color: #D6EEFF;
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 2rem;
    font-family: 'Secular One', sans;
}

.section-1{
    margin: 4rem;
    padding: 1.5rem;
}

.quote{
    font-size: 3rem;
    color: #0890CA;
}

.section-1 .hero-title{
    display: inline-block;
    font-size: 7rem;
    font-family: 'Secular One', sans;
    color: #00648E;
}

.section-1 img{
    width: 40%;
    float: right;
}
.title{
    text-align: center;
    font-family: 'Cairo', sans-serif;
   font-family: 'Inter', sans-serif;
    font-size: 2.2rem;
}
.content-section{
    padding-left: 18vh;
    padding-top: 10vh;
}
.image-section{
    margin-left: 30px;
    height: 180px;
    padding-left: 15vh;
    background-color: #c8edfd;
}
.content-section .content p{
    margin-top: 10px;
    line-height: 1.6;
}
.content{
    padding-top: 1.5vh;
    padding-left: 1.5vh;
    font-size: 1.6rem;
    font-family: 'Cairo', sans-serif;
   font-family: 'Inter', sans-serif;
   background-color: #c8edfd;
}

.section-2{
    margin-left: 4rem;
    margin-right: 4rem;
    padding: 2rem;
}

.section-2 .about h1{
    font-size: 5rem;
    font-family: 'Secular One', sans;
    color: #00648E;
    text-align: center;
}

.section-2 .about img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

