@import url('https://fonts.googleapis.com/css2?family=Secular+One&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Inter:wght@300,300&display=swap');
body{
    background-image: url("/assets/background.svg");
   
    margin:0 ;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    box-sizing: border-box;
}

.navigation-bar{
    padding: 0.2rem;
    /* background-color: #0890CA; */
}



.logo{
    display: inline-block;
   color: #D6EEFF;
   font-weight: bold;
   font-size: 2.5rem;
   margin: 1rem;
   padding: 0.5rem;
   font-family: 'Secular One', sans;

}

.other{
    float: right;
    margin: 2rem;
}

.other > a {
    display: inline-block;
    color: #D6EEFF;
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 2rem;
    font-family: 'Secular One', sans;
}

.other > a:hover{
    color: #dfbb6c;
}

.section-1{
    margin: 4rem;
    padding: 1.5rem;
}

.quote{
    font-size: 3rem;
    color: #ffffff;
}

.section-1 .hero-title{
    display: inline-block;
    font-size: 7rem;
    font-family: 'Secular One', sans;
    color: #dfbb6c;
}

.section-1 img{
    width: 40%;
    float: right;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(0px);
    }
    
}
.title{
    font-size: 2rem;
    font-family: 'Secular One', sans;
    color: #dfbb6c;
    text-align: center;
}
.content-section{
    margin-left: 5rem;
    margin-right: 5rem;
    padding: 1.5rem;
}

.image-section img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
.content-section .content p{
    margin-top: 10px;
    line-height: 1.6;
    text-align: center;
}
.content{
    text-align: center;
    padding :2rem;
    font-size: 2rem;
    font-family: 'Cairo', sans-serif;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(5px);
    border-radius: 8px;
}

.content p{
    font-size: 1.5rem;

}

.content a{
    text-decoration: none;
    color: rgb(238, 255, 0);

    font-weight: 600;
}

.content a:hover{
    color: black;
}
.button{
    padding: 5px;
}
.section-2{
    margin-left: 4rem;
    margin-right: 4rem;
    padding: 2rem;
}

.section-2 .about h1{
    font-size: 5rem;
    font-family: 'Secular One', sans;
    color: #dfbb6c;
    text-align: center;
}

.section-2 .about img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.homepage-2{
    margin: 4rem;
    padding: 1.5rem;
    text-align: center;
    
}

.title-2 {
    display: inline-block;
    font-size: 5rem;
    font-family: 'Secular One', sans;
    color: #dab058;
    text-align: center;
    text-shadow: 5px 5px 5px red;

}

.para-2{
    font-size: 2.2rem;
    font-weight: 600;
    color: white;
    font-family: Poppins;
}

#lab1{
    display: none;
}

