.core-title{
    font-size: 1.5rem;
    margin: 2rem;
    padding: 1.5rem;
    color: #fdbb2d;
    font-family: 'Secular One', sans;
}
.core-title p{
  color: #fdbb2d;
  font-size: 1.5rem;

}
  .carousel {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    font-family: Arial;
  }
  .carousel__list {
    display: flex;
    list-style: none;
    position: relative;
    width: 100%;
    height: 500px;
    justify-content: center;
    perspective: 300px;
  }
  .carousel__item {
   
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 0px;
    width: 600px;
    height: 350px;
    border-radius: 12px;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
    position: absolute;
    transition: all 0.3s ease-in;
  }

  .carousel__item img{
      width: 400px;
      height: 230px;
      border-radius: 12px;
      margin-top: 2rem;
      margin-left: auto;
      margin-right: auto;
      display: block;
      pointer-events: none;
      
  }

  .carousel__item .text{
        color: #f2f2f2;
        font-size: 1.7rem;
        padding: 20px;
        position: absolute;
        bottom: 8px;
        font-weight: 700;
        width: 100%;
        text-align: center;
        pointer-events: none;
      
  }
  .carousel__item .name{
    color: #f2f2f2;
    font-size: 1.1rem;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    pointer-events: none;

  }
  .carousel__item:nth-child(1) {
    background: linear-gradient(45deg, #2D35EB 0%, #904ED4 100%);
  }
  .carousel__item:nth-child(2) {
    background: linear-gradient(45deg, #2D35EB 0%, #fdbb2d 100%);
  }
  .carousel__item:nth-child(3) {
    background: linear-gradient(45deg, #2D35EB 0%, #22c1c3 100%);
  }
  .carousel__item:nth-child(4) {
    background: linear-gradient(45deg, #fdbb2d 0%, #904ED4 100%);
  }
  .carousel__item:nth-child(5) {
    background: linear-gradient(45deg, #22c1c3 0%, #904ED4 100%);
  }
  .carousel__item[data-pos="0"] {
    z-index: 5;
  }
  .carousel__item[data-pos="-1"], .carousel__item[data-pos="1"] {
    opacity: 0.7;
    filter: blur(1px) grayscale(10%);
  }
  .carousel__item[data-pos="-1"] {
    transform: translateX(-40%) scale(0.9);
    z-index: 4;
  }
  .carousel__item[data-pos="1"] {
    transform: translateX(40%) scale(0.9);
    z-index: 4;
  }
  .carousel__item[data-pos="-2"], .carousel__item[data-pos="2"] {
    opacity: 0.4;
    filter: blur(3px) grayscale(20%);
  }
  .carousel__item[data-pos="-2"] {
    transform: translateX(-70%) scale(0.8);
    z-index: 3;
  }
  .carousel__item[data-pos="2"] {
    transform: translateX(70%) scale(0.8);
    z-index: 3;
  }
  