@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Inter:wght@300,300&display=swap');


body{
    background-image: url("/assets/background.svg");
    background-repeat: no-repeat;
    /* background-size: 100% 100%;  */
  
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}

.main{
    height: 100vh;
}
/* navigation bar */
.navigation-bar{
    padding: 0.2rem;
    /* background-color: #0890CA; */
}

.logo{
    display: inline-block;
    color: #D6EEFF;
    font-weight: bold;
    font-size: 2.5rem;
    margin: 1rem;
    padding: 0.5rem;
    font-family: 'Secular One', sans;

}
.other{
    float: right;
    margin: 2rem;
}
.other > a {
    display: inline-block;
    color: #D6EEFF;
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 2rem;
    font-family: 'Secular One', sans;
}

.other > a:hover{
    color: #dfbb6c;
}


.opening-text{
    margin-left: 20px;
    font-size: 32px;
    font-family: 'Secular One', sans;
    color: white;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: 50px;
}

.cards{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(5px);
    width: 25%;
    height: 500px;
    border-radius: 10px;
    padding: 10px;
    font-size: 32px;
    font-family: 'Secular One', sans;
    color: white
}

a{
    text-decoration: none;
    color: white;
    font-size: 26px;
}
a:hover{
    color: rgb(243, 208, 161);
}
ul{
    list-style-type: none;
}